<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneLogin</title>
    <link rel="icon" type="image/x-icon" href="../static/css/image/onelogin_logo.svg">
    <link rel="stylesheet" href="../static/css/Login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

    <div class="wapper">
        <div class="wapper-content">        
            <div class="main-content">
                <form action="{{ url_for('register_page') }}" method="POST">
                    <div class="input-box">
                        <input type="text" placeholder="Username" name="Username">
                        <i class='bx bxs-user'></i>
                    </div>

                    <div class="input-box">
                        <input type="password" placeholder="Password" name="Password" required>
                        <i class='bx bxs-lock-alt' ></i>
                    </div>

                    <div class="input-box">
                        <input type="email" placeholder="Email" name="Email" required>
                        <i class='bx bxs-envelope'></i>
                    </div>

                    <div class="rememeber-forget">
                        <label><input type="checkbox"> Remember me </label>
                        <a href="#">Forget Password ?</a>
                    </div>

                    <button type="submit" class="btn">Register</button>

                    <div class="register-link">
                        <p>Already have an account ? <a href="">
                            Login
                        </a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>

</body>
</html>
